<h3> Welcome <strong><%= current_user&.name %></strong></h3>
<%= link_to "Add New Article", new_article_path %>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>


<%= button_to "Logout", destroy_user_session_path, method: :delete  %>
